<!DOCTYPE html>
<html>
  <head>
    <title>注册成功</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>您已注册成功 <%= username %></h1>
    </form>
  </body>
</html> 
