<!DOCTYPE html>
<html>
  <head>
    <title>注销成功</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>您已成功注销 <a href="/users/login">登录</a></h1>
    </form>
  </body>
</html> 
